html {
  background-color: #f2f2f2;
}

body {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 0 6%;
}

.header-logo img {
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 0;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.title-section {
  text-align: center;

  background-color: #eeeeee;
  background-image: url("../img/title-mask.png"),
                    url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-position: center bottom ,center center;
  background-size: 100% 57px , cover;

  padding-top: 75px;
  padding-bottom: 80px;
}

.title-section img {
  max-width: 458px;
  max-height: 352px;
}

.reasons-better {
  text-align: center;

  padding-top: 55px;
}

.reasons-better ol,
.reasons-better ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-better h3,
.reasons-better h4 {
  font-size: 21px;
}

.reasons-better .reason-number::before,
.reasons-better .reason-number::after {
  background-color: #a8a8a8;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}

.first-reason,
.second-reason {
  color: #ffffff;

  background-color: #81b3d2;
}

.first-reason .reason-number::before,
.second-reason .reason-number::after {
  background-color: #ffffff;
}

.first-reason {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.first-reason .reason-info {
  width: 33%;

  /*Временно для сетки */
  min-height: 256px;
}

.first-reason .first-reason-photo {
  flex-grow: 1;

  background-image: url("../img/first-reason.jpg");
}

.second-reason-photo {
  background-image: url("../img/second-reason.jpg");
}

.first-reason-photo,
.second-reason-photo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.first-reason .particulars {
  width: 100%;
  display: flex;
}

.particulars .particular-item {
  flex-grow: 1;

  /*Временно для сетки*/
  min-height: 331px;
}

.particulars h4,
.reason-other h3 {
  color: #000000;
}

.particulars p,
.reason-other p {
  color: #333333;
}

.particular-item:first-child img {
  width: 75px;
  height: 72px;
}

.particular-item:nth-child(2) img {
  width: 64px;
  height: 76px;
}

.particular-item:nth-child(3) img {
  width: 74px;
  height: 70px;
}

.reason-name,
.reason-number,
.reason-description {
  color: #ffffff;
}

.first-reason ul.particulars {
  background-color: #ffffff;
  color: inherit;
}

.second-reason {
  width: 100%;
  display: flex;
}

.second-reason .reason-info {
  width: 33%;

  /* Временно для сетки */
  min-height: 256px;
}

.second-reason .second-reason-photo {
  flex-grow: 1;
}

.reason-other {
  background-color: #eeeeee;

  flex-grow: 1;
  width: 33%;

  /* Временно для сетки */
  min-height: 256px;
}

.reason-other h4 {
  color: #000000;
}

.hotel-search {
  text-align: center;

  padding-top: 50px;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search > p {
  line-height: 24px;
}

.form-centerer {
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.button.search-open,
.button.search-form-button {
  font-size: 21px;
  line-height: 26px;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
  outline: none;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
  outline: none;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-container {
  padding: 55px;

  /*Временно, для сетки*/
  background: #f2f2f2;
  width: 458px;
}

.search-form label,
.search-form input {
  color: #000000;
  font-weight: 700;
}

.search-form input {
  border: 2px solid #f2f2f2;
  text-transform: uppercase;
  outline: none;
}

.search-form input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.number input[type="text"] {
  text-align: center;
}

.search-form input {
  background-color: #f2f2f2;
}

.map img {
  width: 100%;
}

.page-footer {
  text-align: center;
  line-height: 26px;
  color: #000000;

  background-color: rgba(253, 253, 253, 0.9);

  width: 100%;
  display: flex;
  margin-top: -120px;

  z-index: 10;
}

.page-footer-item {
  width: 33%;
  flex-grow: 1;
}

.footer-hashtag {
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright img {
  width: 115px;
  height: 41px;
  vertical-align: middle;
}

.current-page {
  color: #766357;
}

.conditions-list {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.condition-form fieldset {
  border: none;
}

.condition-form legend {
  font-size: 16px;
  font-weight:  700;
}

.condition-form ul {
  list-style: none;
}

.housing-price h3 {
  font-size: 16px;
}

.housing-price input {
  color: #ffffff;

  background: none;

  border: none;
}

.condition-form .catalog-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background: none;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.condition-form .catalog-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.searched-results-and-methods {
  color: #000000;
}

.searched-results-and-methods .quantity-searched {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.searched-results-and-methods .how-to-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-methods .sort-method {
  color: rgba(0, 0, 0, 0.3);

  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #81b3d2;
}

.sort-methods .sort-method:hover,
.sort-methods .sort-method:focus {
  color: rgba(129, 179, 210, 1);
}

.sort-methods .sort-method:active {
  color: rgba(0, 0, 0, 1);
  border-bottom: none;
}


.catalog .searched-list {
  list-style: none;
}

.searhced-item .object-photo {
  width: 100%;
  height: 90px;
}

.searched-item .object-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.searched-item .object-name:hover,
.searched-item .object-name:focus {
  color: rgba(129, 179, 210, 1);
}

.searched-item .object-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.searched-item .rating {
  color: #666666;
  background-color: #f2f2f2;
}

