html {
  background-color: #f2f2f2;
}

body {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  -webkit-box-shadow: -5px 0 15px 0 rgba(0, 1, 1, 0.2),
              5px 0 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: -5px 0 15px 0 rgba(0, 1, 1, 0.2),
              5px 0 15px 0px rgba(0, 1, 1, 0.2);
}

body.inner-page .container {
  padding: 0 6%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 6%;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  position: relative;
}

.header-logo {
  position: absolute;
  right: 50%;
  margin-right: -69px;
}

.header-logo img {
  width: 138px;
  height: 70px;
}

.main-navigation ul.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;


  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-navigation li {
  width: 20%;
  padding: 14px 0;
}

.site-navigation li:fisrt-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-left: 28px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 28px;
}


.main-navigation a {
  color: #000000;
}

.site-navigation a {
  display: block;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.title-section {
  text-align: center;

  background-color: #eeeeee;
  background-image: url("../img/title-mask.png"),
                    url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-position: center bottom ,center top;
  background-size: 100% 57px , cover;

  padding-top: 75px;
  padding-bottom: 80px;
}

.title-section img {
  max-width: 458px;
  max-height: 352px;
}

.reasons-better {
  text-align: center;

  padding-top: 55px;
}

.reasons-better h2 {
  font-size: 21px;
  line-height: 26px;

  margin: 0 auto;
  margin-bottom: 25px;
  width: 450px;
}

.reasons-better > p {
  margin: 0;
  margin-bottom: 50px;

  line-height: 26px;
}

.reasons-better ol.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-better h3,
.reasons-better h4 {
  font-size: 21px;
}

.reasons-better .reason-number::before,
.reasons-better .reason-number::after {
  background-color: #a8a8a8;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-list .reason-info {
  padding: 50px 45px 60px;
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reason-name,
.reason-number,
.reason-description {
  color: #ffffff;
}

.reason-info .reason-name {
  font-size: 21px;
  line-height: 21px;

  margin: 0;
  margin-bottom: 23px;
}

.reason-info .reason-number {
  margin: 0;
  margin-bottom: 18px;
}

.reason-info .reason-description {
  margin: 0;
}

.first-reason,
.second-reason {
  color: #ffffff;

  background-color: #81b3d2;
}

.first-reason .reason-number::before,
.second-reason .reason-number::after {
  background-color: #ffffff;
}

.first-reason {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-reason .first-reason-photo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  background-image: url("../img/first-reason.jpg");
}

.first-reason ul.particulars {
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.particulars h4,
.reason-other h3 {
  color: #000000;
}

.particulars p,
.reason-other p {
  color: #333333;
}

.particulars .particular-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 60px 45px 80px;
}

.particular-item:first-child img {
  width: 75px;
  height: 72px;
}

.particular-item:nth-child(2) img {
  width: 64px;
  height: 76px;
}

.particular-item:nth-child(3) img {
  width: 74px;
  height: 70px;
}

.particular-item .img-container {
  margin: 0;
  width: auto;
  height: 76px;
  margin-bottom: 25px;
}

.particular-item .particular-name {
  margin: 0;
  margin-bottom: 25px;
}

.particular-item .particular-description {
  margin: 0;
}

.second-reason-photo {
  background-image: url("../img/second-reason.jpg");
}

.first-reason-photo,
.second-reason-photo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.second-reason {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-reason .second-reason-photo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reason-other {
  background-color: #eeeeee;

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
}

.reason-other h4 {
  color: #000000;
}

.hotel-search {
  text-align: center;

  padding-top: 50px;
}

.hotel-search h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
}

.hotel-search > p {
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

.form-centerer {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.button {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.button.search-open,
.button.search-form-button {
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  padding: 15px 0;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
  outline: none;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
  outline: none;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;

  padding: 55px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  background-color: #ffffff;

  z-index: 20;
}

.search-form .form-part.date-part {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form input {
  text-transform: uppercase;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 346px;
  padding: 11px 13px;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form input {
  background-color: #f2f2f2;
}

.date-part {
  position: relative;
}

.date-part .calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 8px;
  right: 9px;
}

.calendar path {
  opacity: 0.3;
}

.calendar:hover path,
.calendar:focus path {
  opacity: 1;
}

.calendar:active path {
  fill: #81b3d2;
}

.search-form label,
.search-form input {
  color: #000000;
  font-weight: 700;
}

.form-part.people-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 54px;
}

.people-part .form-part-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people-part .form-part-half:first-child {
  width: 226px;
}

.people-part .form-part-half:nth-child(2) {
  width: 180px;
}

.form-part-half .number {
  display: inline-block;
  position: relative;
  width: 114px;
}

.number .sprite-plus-minus {
  position: absolute;
  background-image: url("../img/sprite-plus-minus.png");
  background-repeat: no-repeat;
}

.number .plus {
  top: 14px;
  right: 14px;

  width: 11px;
  height: 11px;

  background-position: 0px -11px;
}

.number .plus:hover,
.number .plus:focus {
  width: 11px;
  height: 11px;

  background-position: -11px 0px;
}

.number .plus:active {
  width: 11px;
  height: 11px;

  background-position: 0px 0px;
}

.number .minus {
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-position: -22px -6px;
}

.number .minus:hover,
.number .minus:focus {
  width: 12px;
  height: 3px;

  background-position: -22px -3px;
}

.number .minus:active {
  width: 12px;
  height: 3px;

  background-position: -22px 0px;
}

.number input[type="text"] {
  text-align: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 114px;
}

.map

.map img {
  width: 100%;
}

.page-footer {
  text-align: center;
  line-height: 26px;
  color: #000000;

  background-color: rgba(253, 253, 253, 0.9);

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -120px;
  padding: 36px 0;

  position: relative;

  z-index: 10;
}

.page-footer-item {
  width: 33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-hashtag {
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
}

.footer-social ul.social-links {
  list-style: none;

  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 5px auto 0;
  padding: 0;
}

ul.social-links li {
  margin-bottom: 5px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.logo-link svg {
  margin-left: 8px;
  vertical-align: middle;
  fill: #231f20;
  width: 115px;
  height: 41px;
}

.logo-link:hover svg {
  fill: #81b3d2;
}

.logo-link:active svg {
  fill: #bdbbbc;
}

.current-page {
  color: #766357;
}

.conditions-list {
  color: #ffffff;

  padding: 30px 0 33px;

  background-color: #81b3d2;
  background-image: url("../img/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.conditions-list .condition-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.condition-form ul {
  margin: 0;
  padding: 0;
}

.condition-form .infrastructure {
  width: 255px;
}

.condition-form .type-of-housing {
  width: 255px;
}

.condition-form .housing-price {
  width: 318px;
  margin-left: auto;
}

.condition-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.condition-form legend {
  font-size: 16px;
  font-weight: 700;

  margin-bottom: 30px;
}

.condition-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 23px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;
  padding-top: 1px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input:focus + label {
  text-shadow: 5px 5px 25px #81b3d2,
              -5px 5px 25px #81b3d2,
              5px -5px 25px #81b3d2,
              -5px -5px 25px #81b3d2;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 330px;

  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0%;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.catalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searched-results-and-methods {
  color: #000000;

  padding-top: 9px;
  padding-bottom: 8px;

  border-bottom: 2px solid #e5e5e5;
}

.searched-results-and-methods > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searched-results-and-methods .quantity-searched {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin-right: 50px;
}

.searched-results-and-methods .how-to-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  margin-right: 40px;
}

.sort-methods .sort-method {
  color: rgba(0, 0, 0, 0.3);

  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #81b3d2;

  margin-right: 33px;
}

.sort-methods .sort-method:hover,
.sort-methods .sort-method:focus {
  color: rgba(129, 179, 210, 1);
}

.sort-methods .sort-method:active {
  color: rgba(0, 0, 0, 1);
  border: none;
}

.sort-methods .current {
  color: rgba(129, 179, 210, 1);
  border: none;
}

.sort-arrows {
  margin-left: auto;
}

.arrow path {
  fill: #cacaca;
}

.arrow:hover path,
.arrow:focus path {
  fill: #231f20;
}

.arrow:active path {
  fill: #81b3d2;
}

.arrow.current path {
  fill: #81b3d2;
}

.catalog ul.searched-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searched-list .searched-item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 25px;
  padding-bottom: 30px;
}

.searched-list .searched-item:last-child {
  margin-bottom: 120px;
}

.searched-item .object-info {
  position: relative;

  padding-left: 165px;
}

.item-container img.object-photo {
  position: absolute;
  top: 5px;
  left: 0;

  width: 135px;
  height: 90px;
}

.searched-item h3 {
  color: #000000;
  font-size: 21px;
  line-height: 26px;

  margin: 0;
  margin-bottom: 4px;
  max-width: 360px

}

.searched-item h3:hover,
.searched-item h3:focus {
  color: rgba(129, 179, 210, 1);
}

.searched-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.searched-item table {
  margin-bottom: 9px;
}

td.object-type {
  min-width: 115px;
}

.searched-item .object-button {
  display: inline-block;

  padding: 4px 17px;
  margin-right: 6px;
}

ul.star-list {
  text-align: right;

  position: absolute;
  top: 5px;
  right: 0;

  height: 17px;
  max-width: 114px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.star-list .star-item {
  display: inline-block;

  width: 18px;
  height: 17px;
  margin-left: 1px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.searched-item .rating {
  display: inline-block;

  position: absolute;
  right: 0;
  bottom: 0;

  max-width: 110px;

  margin: 0;
  padding: 5px 13px 6px 16px;

  color: #666666;
  background-color: #f2f2f2;
}
